<ol class="breadcrumb">
  <li><a href="/index">Home</a></li>
  <% if (locals.category) { %>
    <li><a href="/category/<%= category.id %>"><%= category.cate_name %></a></li>
  <% } %>
  <% if (locals.title) { %>
    <li class="active"><%= title %></li>
  <% } %>
</ol>
