<aside class="right_content">
  <div class="single_sidebar">
    <h2><span>Popular Post</span></h2>
    <ul class="spost_nav">
      <li>
        <div class="media wow fadeInDown">
          <a href="#" class="media-left">
            <img alt="" src="/images/post_img1.jpg" />
          </a>
          <div class="media-body">
            <a href="#" class="catg_title">
              Aliquam malesuada diam eget turpis varius 1</a>
          </div>
        </div>
      </li>
      <li>
        <div class="media wow fadeInDown">
          <a href="#" class="media-left">
            <img alt="" src="/images/post_img2.jpg" />
          </a>
          <div class="media-body">
            <a href="#" class="catg_title">
              Aliquam malesuada diam eget turpis varius 2</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="single_sidebar wow fadeInDown">
    <h2><span>Links</span></h2>
    <ul>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Rss Feed</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Life &amp; Style</a></li>
    </ul>
  </div>
</aside>